@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color text-dark #06200C;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

/* -- Global rules -- */
* {
  border: none;
  font-family: "0xProto Nerd Font Mono";
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  background: alpha(@base, 0.3);
}

#waybar > box {
    /* Ensures all three module groups are centered vertically */
    margin: 0;
}


window#waybar.hidden {
  opacity: 0.2;
}

/* - Genera rules for visible modules -- */
#custom-bluetooth,
#custom-archicon,
#clock,
#custom-waycal,
#cpu,
#memory,
#disk,
#temperature,
#idle_inhibitor,
#pulseaudio,
#pulseaudio-slider,
#network,
#language {
  color: @text;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

#custom-waycal {
  font-size: 18px;
  background: @green;
  color: @text-dark;
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#custom-waycal.activated {
  background: @green;
  color: @crust;
}

#clock {
  background: @surface0;
  color: @green;
  padding-left: 10px;
  padding-right: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 20px;
}


#cpu,
#memory,
#disk,
#temperature {
  background: @mantle;
}

#cpu {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: @teal;
}

#memory {
  color: @peach;
}

#disk {
  color: @maroon;
}

#temperature {
  color: @lavender;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#idle_inhibitor {
  background: @mantle;
  color: @text;
  border-radius: 10px;
  margin-left: 5px;
  font-size: 18px;
  transition: text-shadow 0.3s ease, transform 0.3s ease;
}

#idle_inhibitor.activated {
  background: @red;
  color: @text-dark;
}

#workspaces {
  background: @mantle;
  color: @text;
  border-radius: 10px;
  margin: 5px 5px;
  padding: 0px 5px;
}

#workspaces button {
  margin: 0px 0px;
  padding: 0px 5px;
  transition: text-shadow 0.3s ease, transform 0.3s ease;
  border-radius: 8px;
  font-size: 18px;
}

#workspaces button:hover {
  background: @overlay2;
  color: @text-dark;
}

#workspaces button.focused {
  background: @yellow;
  color: @text-dark;
}

#workspaces button.urgent {
  background-color: @red;
  color: @text-dark;
}


/* Modules right */
#taskbar {
  border-radius: 10px;
  padding: 0px 5px;
  margin: 6px 5px;
}

#taskbar button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 6px;
  transition: background 0.3s ease;
  font-size: 20px;
}

#taskbar button.active {
  background: rgba(34, 36, 54, 0.5);
  font-size: 25px;
}

#taskbar button:hover {
  background: rgba(34, 36, 54, 0.5);
}


#tray {
  background: @surface0;
  border-radius: 8px;
  margin: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
  border-radius: 8px;
}

#pulseaudio-slider {
  min-width: 50px;
  margin-right: 5px;
}

#custom-bluetooth {
  font-size: 20px;
  color: @text-dark;
  background: @sapphire;
  padding-right: 10px;
  padding-left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#network {
  color: @text-dark;
  background: @sapphire;
  border-left: 1px groove shade(@crust, 0.9);
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#custom-notification {
  background: @mauve;
  color: @text-dark;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  margin-top: 6px;
  margin-bottom: 6px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#battery {
  background: @mauve;
  color: @text-dark;
  border-left: 1px groove shade(@crust, 0.9);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  margin-top: 6px;
  margin-bottom: 6px;
}

#custom-power {
  background: @mauve;
  color: @text-dark;
  border-left: 1px groove shade(@crust, 0.9);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 5px;
}

/* === Optional animation === */
@keyframes blink {
  to {
    background-color: #BF616A;
    color: #B5E8E0;
  }
}
