@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color text-dark #06200C;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

/* -- Global rules -- */
* {
  border: none;
  font-family: "0xProto Nerd Font Mono";
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  /* background: alpha(@base, 0.1); */
  background: alpha(@crust,0.0);
}

#waybar > box {
    /* Ensures all three module groups are centered vertically */
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}


window#waybar.hidden {
  opacity: 0.2;
}

/* - Genera rules for visible modules -- */
#custom-archicon,
#workspaces,
#custom-seperator,
#cpu,
#memory,
#disk,
#temperature,
#idle_inhibitor,
#clock,
#custom-waycal,
#tray,
#pulseaudio,
#pulseaudio-slider,
#custom-volume,
#custom-bluetooth,
#network,
#custom-notification,
#battery,
#custom-power{
  font-size: 18px;
  color: @text;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  transition: none;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 5px;
}


#custom-archicon {
  margin-top:0px;
  margin-bottom:0px;
  margin-right:15px;
  margin-left:0;
  padding-left:10px;
  padding-top:0px;
  padding-bottom:0px;
  font-size:24px;
  background: @yellow;
  color: @text-dark;
}

#custom-empty {
  background: @crust;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  margin:0px;
}

#workspaces button {
  background: @crust;
  transition: text-shadow 0.3s ease, transform 0.3s ease;
  border-radius:0px;
  /* border-radius: 8px; */
  /* margin-right:2px; */
}

#workspaces button:hover {
  color: @lavender;
   border-bottom: 1px solid @lavender;
}

#workspaces button.focused {
  color: @sky;
   border-bottom: 1px solid @sky;
}

#workspaces button.urgent {
  color: @text-dark;
  background: @red;
}

#custom-seperator {
  background: @crust;
  border-radius: 0px;
}

#cpu,
#memory,
#disk,
#temperature {
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  background: @crust;
  border-radius: 0px;
}

#cpu {
  /* border-top-left-radius: 10px; */
  /* border-bottom-left-radius: 10px; */
  color: @teal;
  padding-left:15px;
}

#memory {
  color: @peach;
}

#disk {
  color: @maroon;
}

#temperature {
  color: @lavender;
  padding-right: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#idle_inhibitor {
  background: @crust;
  color: @text;
  border-radius: 10px;
  margin-right: 5px;
  transition: text-shadow 0.3s ease, transform 0.3s ease;
}

#idle_inhibitor.activated {
  background: @red;
  color: @text-dark;
}

#custom-waycal {
  background: @green;
  color: @text-dark;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#clock {
  font-size: 14px;
  background: @green;
  color: @crust;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
  border-right: 1px groove @surface2;
}

#custom-notification {
  background: @green;
  color: @text-dark;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}


#tray {
  background: @mantle;
  border-radius: 10px;
  margin-right: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
  /* border-radius: 8px; */
}

#battery,
#custom-volume,
#custom-bluetooth,
#network,
#custom-power {
  background: @surface0;
  font-size: 24px;
  color: @text;
  margin: 0px;
  border-radius:0px;
}

#battery {
  font-size: 18px;
  padding-left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px
}

#custom-volume {
  padding-right: 10px;
  padding-left: 10px;
}
#custom-bluetooth {
  padding-right: 10px;
  padding-left: 10px;
}

#network {
  padding-right: 10px;
  padding-left: 10px;
}

#custom-power {
  padding-left: 10px;
  padding-right: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
